
@{
    ViewBag.Title = "TotalDeviceUse";
}

<h2>TotalDeviceUse</h2>

<div class="col-md-6">
    <div class="btn-group btn-group-justified">
        <a href="@Url.Action("TotalDevice", "Dashboard")" class="btn btn-primary col-sm-3">
            Total Device
            <br><span class="badge badge-info"></span>
        </a>
        <a href="#" class="btn btn-primary col-sm-3">
            Total Machine
            <br><span class="badge badge-info"></span>
        </a>
        <a href="#" class="btn btn-primary col-sm-3">
            Total User
            <br><span class="badge badge-info"></span>
        </a>
    </div>
</div>