@model IEnumerable<ITST.Models.Device>

@{
    ViewBag.Title = "SparePartByDepartment";
}

<h2>SparePart</h2>
<h4>Department</h4>
<hr />

<table class="table table-bordered" id="inuse">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayName("Department")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("SparePartByMachine", "Device", new { did = item.DepartmentID, pid = item.PlantID })">@Html.DisplayFor(modelItem => item.Department.DepartmentName)</a>
                    @{
                        var db = new ITST.Models.ITStockEntities1();
                        var TotalDevicePerType = db.Devices.Where(d => d.PlantID == item.PlantID && d.DepartmentID == item.DepartmentID && d.StatusID == 5).GroupBy(d=>d.MachineID).Count();
                                }
                    <span class="badge badge-info">@TotalDevicePerType</span>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("table#inuse").dataTable({
                "sPaginationType": "full_numbers"
            });
        })
    </script>
}

