@model IEnumerable<ITST.Models.RecordReinstock>
@using GridMvc.Html

@{
    ViewBag.Title = "ReInstock Log";
}

<h2>ReInstock Log</h2>

<h4>Device</h4>
<hr />

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

@Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.DateRequest).Format("{0:dd/MM/yyyy hh:mm:ss tt}").Titled("Date ReInstock");
                        columns.Add(c => c.RequestBy).Titled("ReInstock By").Filterable(true);
                        columns.Add(c => c.DeviceType).Titled("DeviceType").Filterable(true);
                        columns.Add(c => c.Model).Titled("Model").Filterable(true);
                        columns.Add(c => c.Brand).Titled("Brand").Filterable(true);
                        columns.Add(c => c.SerialNumber).Titled("SerialNumber").Filterable(true);
                        columns.Add(c => c.Status).Titled("Status").Filterable(true);
                        columns.Add(c => c.IsFixAsset).Titled("IsFixAsset").Filterable(true);
                        columns.Add(c => c.LocationStock).Titled("LocationStock").Filterable(true);
                    }).WithPaging(20).Sortable(true)
