
@{
    ViewBag.Title = "ReportCartridgePrinter";
}

<h2>Report</h2>
<h4>Cartridge Printer</h4>

<a href="@Url.Action("CartridgePrinter", "Device")" class="btn btn-default" style="margin:2px"><span class="glyphicon glyphicon-home"></span> Cartridge</a>

<hr />



<div class="row well-lg">
    <a href="@Url.Action("CartridgeRequisitionReport", "PrintLog")" class="btn btn-default btn-sm RbtnMargin" style="margin:2px"><span class="glyphicon glyphicon-list-alt"></span> รายงานการเบิก</a>
</div>
